<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>DC Comics</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
  
    <ion-item lines="none">
      <ion-label>Conoce sobre DC Comics</ion-label>
    </ion-item>
  
    <ion-button (click)="MostrarDescripcionDc()" expand="block">
      Desplegar información sorpresa
    </ion-button>
  

    <ion-button (click)="MostrarFotoDc()" expand="block">
      Conocer su logo
    </ion-button>

    <ion-button expand="block" routerLink="/">
      Ir al Inicio
    </ion-button>
  
    <ion-button expand="block" routerLink="/marvel">
      Ver información de Marvel Comics
    </ion-button>
  
  </ion-content>
  