<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Marvel Comics</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
  
    <ion-item lines="none">
      <ion-label>Conoce sobre Marvel Comics</ion-label>
    </ion-item>
  
    <ion-button (click)="MostrarDescripcionMarvel()" expand="block">
      Desplegar información sorpresa
    </ion-button>

    <ion-button (click)="MostrarFotoMarvel()" expand="block">
      Conocer su logo
    </ion-button>

    <ion-button expand="block" routerLink="/">
      Ir al Inicio
    </ion-button>
  
    <ion-button expand="block" routerLink="/dc">
      Ver información de Dc Comics
    </ion-button>
  
  </ion-content>
  