<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Superhéroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item lines="none">
    <ion-label>Descubre qué superhéroe eres</ion-label>
  </ion-item>

  <ion-button (click)="ObtenerSuperheroe()" expand="block">
    Descubrir Superhéroe
  </ion-button>

  <ion-text *ngIf="resultado !== null">
    <h2>Superhéroe seleccionado: {{ resultado }}</h2>
    <img [src]="mostrarFotoSuperheroe(resultado)" alt="{{ resultado }}" />
    <p>Compañía: {{ obtenerCompaniaSuperheroe(resultado) }}</p>
    <ion-button expand="block" routerLink="/{{ obtenerCompaniaSuperheroe(resultado) === 'Marvel Comics' ? 'marvel' : 'dc' }}">
      Ir a la compañia {{ obtenerCompaniaSuperheroe(resultado) === 'Marvel Comics' ? 'Marvel' : 'DC' }}
    </ion-button>
  </ion-text>

  <ion-button expand="block" routerLink="/">
    Ir al Inicio
  </ion-button>

  <ion-button expand="block" routerLink="/anime">
    Ver qué anime eres
  </ion-button>

</ion-content>
